h1{
  text-align: center;
  font-size:200%;
}

nav{
  text-align:center;
}

a:hover{
  color:black;
  background-color:red;
}

#welcome, #welcome2{
  float:left;
  border-style:solid;
  background-color:00FFCC;
}

#welcome{
  margin-right:49%
}

#welcome2{
  margin-right:49%;
}

body{
background-image: url("images/pattern (3).png")
}

main{
  background-image:url("images/download.png");
  background-repeat: no-repeat;
  background-position:center;
}
