div{
  float:left;
  border-style:solid;
  margin-top:3%;
  width:80%;
  text-align:center;
  margin-left:10%;
}

h1{
  text-align: center;

}

nav{
  text-align:center;
}

a:hover{
  color:black;
  background-color:red;
}
