h1, h2{
  text-align: center;
  font-size:200%;
  color:white;
}

nav{
  text-align:center;
  background-color:white;
}

a:hover{
  color:black;
  background-color:red;
}

#welcome, #welcome2{
  float:left;
  border-style:solid;
  background-color:00FFCC;
}

#welcome{
  margin-right:30%
}

#welcome2{
  margin-right:30%;
}

#skills{
float:left;
border-style:double;
padding:1%;
  background-color: white;
}

body{
background-color:black;
}

main{
  background-color: white;
}
